@font-face {
    font-family: inter;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-color: aliceblue;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.calccontainer{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    border: solid 3px;
    background-color: rgb(203, 200, 200);
    border-radius: 20px;
}

button {
    font-size: 40px;
    font-family: inter;
    color: white;
    border: solid 2px;
    border-color: white;
}

.calculation {
    font-size: 20px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: Helvetica;
}

.screen {
    padding-right: 10px;
    font-size: 40px;
    font-family: inter;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border: solid 2px;
    margin: 5px;
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
    height: 120px;
}

.endrow {
    display: flex;
    flex: 1;
    margin: 3px;
}

.double {
    flex: 2;
    border-radius: 15px;
    padding: 15px;
    margin: 3px;
}

.circle {
    flex: 1;
    border-radius: 15px;
    margin: 2px;
}

.row {
    display: flex;
    flex: 1;
    margin-left: 6px;
    margin-right: 6px;
}

.circle {
    flex: 1;
}

.numbers {
    background-color: rgb(47, 45, 45);
    font-family: inter;
}

.numbers:hover {
    background-color: rgb(67, 65, 65);
}

.functions {
    background-color: rgb(44, 130, 172);
    font-family: inter;
}

.functions:hover {
    background-color: rgb(87, 155, 186);
}

.red {
    background-color: rgb(126, 41, 41);
    font-family: inter;
}

.red:hover {
    background-color: rgb(144, 73, 73);
}

footer {
    font-family: helvetica;
}

.github {
    width: 20px;
    background-color: aliceblue;
}

.footer {
    font-family: Helvetica;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}